body * {
  max-width: 1355px;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 13pt;
}

nav {
  opacity: 0.85;
}

p {
  color: #616161;
}

hr {
  padding: 5px 0px;
  margin-top: 40px;
}

video {
  width: 600px;
  height: 350px;
  padding: 18px;
}

footer {
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.navbar {
  min-height: 68px;
}

.navbar-right {
  padding-top: 8px;
}

.navbar-brand {
  padding: 6px 15px;
}

.navbar-nav>li>a {
  font-size: 18px;
}

.logo {
  width: 176px;
}

.title-screen {
  width: 100%;
}

.jumbotron {
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
}

.title {
  text-align: center;
  padding: 15px 0px;
  font-size: 22pt;
}

.content {
  text-align: center;
  padding: 15px 0px;
}

.caption {
  text-align: center;
}

.carousel.slide {
  padding: 15px 0px;
}

.submit-btn {
  margin-top: 15px;
  margin-left: 11px;
  float: right;
}

address {
  margin-top: 15px;
}

.form-control {
  margin: 16px 0;
}

panel-heading {
  text-align: center;
}

.contacts-container {
  padding: 15px 0px;
}

.text-muted {
  margin: 0 0 2px;
}