* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
body * {
  max-width: 1355px;
  margin: 0 auto;
  font-family: 'Caveat Brush', cursive;
  font-size: 13pt;
}
.title-screen {
  width: 1350px;
  height: 655px;
  position: relative;
}
.header {
  height: 80px;
  position: absolute;
  top: 0px;
}
.bar {
  position: fixed;
  width: 100%;
  height: inherit;
  display: flex;
  padding: 0 20px;
  font-size: 25px;
  align-items: center;
  justify-content: space-between;
  background-color: #616161;
  color: #fff;
  z-index: 100;
  opacity:0.9;
}
.left {
  display: flex;
  align-items: center;
  cursor: pointer,
}
.right {
  display: flex;
  align-items: center;
}
.navigation li {
  display: inline;
  color: lightgray;
  font-size: 22px;
  padding-left: 12px;
  padding-right: 12px;
}
.logotype {
  width: 230px;
  top: 0px;
  padding-top: 0px;
  margin-right: 10px;
  margin-top: 2px;
}
.title {
  margin:0 auto;
  width:130px;
  height:60px;
  padding-top: 20px;
  padding-bottom: 55px;
  font-size: 40px;
  color: #37474F;
}
.headnote {
  margin: 15px 40px 35px 50px;

}
p {
  color: #616161;
}
.section-rooms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 600px;
  margin: 10px;
}
/* rooms-container {
  width: 150px;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}
 */
.rooms-container-lux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 60px 0px 80px;
  padding: 5px 5px 5px 5px;
}

.rooms-container-lux-text {

}

.rooms-container-semilux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 50px 0px 70px;
  padding: 5px 5px 5px 5px;
}

.rooms-container-ordinary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 50px 0px 50px;
  padding: 5px 5px 5px 5px;
}

.rooms-img {
  width: 300px;
  height: 300px;
}
.price {
  margin: 10px 624px 10px;
  width:130px;
  height:60px;
  padding: 5px 5px;
  border-radius: 5px;
}
.title-berdyansk {
  margin:0 auto;
  width:130px;
  height:60px;
  padding-top: 20px;
  padding-bottom: 110px;
  font-size: 40px;
  color: #37474F;
}

.comfortable-berd {
  margin: 35px 18px 35px 40px;
}

#video-berd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px;
}

#video-summer-berd {
  flex-wrap: nowrap;
  margin: 20px 20px 20px 20px;
}

.video-summer {
  width: 600px;
  height: 350px;
}

#video-types-berd {
  flex-wrap: nowrap;
  margin: 20px 20px 20px 20px;
}

.video-types {
  width: 600px;
  height: 350px;
}

.title-footer {
  margin:0 auto;
  width:130px;
  height:60px;
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 40px;
  color: #37474F;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.map-berd {
  margin: 110px 20px 10px 50px;
}

.map {
  width: 750px;
  height: 490px;
}

form {
  width: 400px;
  height: 489px;
  margin: 110px 50px 20px 20px;
  padding: 12px 12px 24px 21px;
  border-radius: 20px;
  box-shadow: 0 0 10px #cccccc;
}

fieldset{
  min-width: 30px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

input, textarea {
  width: 356px;
  border-radius: 5px;
  border-color: #616161;
  padding: 10px 13px;
}


.push-button {
  width: 175px;
  height: 35px;
  border: 1px solid #78909C;
  border-radius: 5px;
  border-color: #616161;
  margin: 6px 9px 0px 182px;
  padding: 3px 6px 0px 0px;
}

footer {
  max-width: 1355px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 45px;
  background-color: #616161;
  color: #fff;
}

.footer {
  align-content: center;
  padding: 10px 350px;
}

